<html ng-app>
<head><link rel="stylesheet" href="styles/styles.css" /></head>
<body>
  <div ng-controller="DeathRayMenuController">
    <ul>
      <li class="menu-disabled-{{isDisabled}}" ng-click="stun()">Stun</li>
      <li ng-click="disintegrate()">Disintegrate</li>
      <li ng-click="erase()">Erase</li>
    </ul>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script>
  function DeathRayMenuController($scope) {
    $scope.isDisabled = false;
    
    $scope.stun = function () {
      $scope.isDisabled = 'true';
    };
  }
</script>
</body>
</html>